/* MusicDashboard.css */
.react-calendar {
    border: 2px solid #9B3922; /* Maroon */
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 232, 220, 0.8); /* Light Beige with opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Apply blur to the calendar background */
  }
  
  .react-calendar__navigation button {
    color: #9B3922; /* Maroon */
    font-weight: bold;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .react-calendar__navigation button:disabled {
    color: #D3D3D3;
  }
  
  .react-calendar__tile {
    position: relative;
    padding: 10px;
  }
  
  .react-calendar__tile--active {
    background: #F2613F; /* Bright Orange */
    color: white;
  }
  
  .react-calendar__tile--now {
    background: rgba(112, 46, 12, 0.8); /* Light Beige with opacity */
    border: 2px solid; /* Maroon */
    color: black;
  }
    
    .react-calendar__tile--now:enabled:hover, 
    .react-calendar__tile--now:enabled:focus {
      background:rgba(245, 232, 220, 0.8); /* Slightly lighter dark color on hover/focus */
    }
    
  
  .event-dot {
    width: 6px;
    height: 6px;
    background-color: #F2613F; /* Bright Orange */
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .event-indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .event-indicator {
    width: 8px;
    height: 8px;
    background-color: #F2613F; /* Dot color */
    border-radius: 50%;
    margin: 2px;
  }
  